*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  background-color: #2F2828;
  font-family: Arial, Helvetica, sans-serif;
}
body section div img{
  max-width: 100%;
  color: lightgrey;
}
body{
  color: lightgrey; 

}

button{
  background-color: #707070;
  font-size: 15px;
}

button:hover{
  background-color: grey;
}

h1{
  padding-top: 100px;
  font-size: 60px;
}

video{
  max-width: 100%;
}
.clear {
  clear: both;
}
body.our-story {
  font-size: 20px;
}
main{
  font-size: 20pt;
}
section.main{
  display: flex;
}
nav{
  background: #2F2828;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: Los Feliz Ot;
}
nav ul{
  float: right;
  margin-right: 20px;
  z-index: 9999;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  color: grey;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

main.home section.main > section{
  flex: 0.8 1;
}

section div.images{
  margin: 3em 0.5em;
  position: relative;
}
section.home-page-mid{
  margin: 6em 0.5em;
  flex: 1;
}
div.images img{
  border: 3px solid rgba(255,255,255,0.5);
}
div.images .caption{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 80px 40px;
  text-shadow: 0 0 2px black;
}
 
section.our-story-images *{
  margin: 0.5em;
}
section.our-story-images p{
  padding: 1em;
  font-size: 20px;
}
hr{
  margin: 4em 10em;
  border-top: 3px solid rgba(255,255,255,0.5);
}
section.our-story-images img{
  float: left;
  width: 48%;
}
section.our-story-images div.image-2 img{
  float: right;
}
section.our-story-lower img{
  display: block;
  margin: 0 auto 2em;
}
section.footer-nav {
  margin-top: 1em;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 1em;
}
ul.footer-nav {
  display: flex;
  margin-bottom: 1em;
}
ul.footer-nav li {
  flex: 1;
}
ul.footer-nav li a {
  color: rgba(255,255,255,0.4) !important;
  display: block;
  width: 100%;
  text-align: center;
  padding: 4px;
  border-radius: 2px;
}
.footer-nav .social {
  margin: 0 auto 1em;
  position: relative;
  width: 8em;
}
.footer-nav .social i {
  font-size: 30px;
  color: black;
}
main.home > video {
  width: 75%;
  margin: 1em auto;
  display: block;
}
@media (max-width: 990px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2F2828;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #6A6161;
  }
  #check:checked ~ ul{
    left: 0;
  }
  main.home{
    display: block;
  }
  main section > section{
    flex: none !important;
    width: 100%;
  }
  section.our-story-images img{
    float: none;
    width: 98%;
    margin 0 auto;
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.home-page-images{
  color: lightgrey;
 }

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
 
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

